.tag-badge {
    background-color: #007BFF;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
}

.breakthrough-badge {
    background-color: #28a745;
    margin-right: 5px;
    margin-bottom: 5px;
}

.action-links {
    text-align: right;
}

.action-links a {
    margin-left: 7px;
}