{% extends "user_base.html" %}
{% block user_content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <form action="/edit_entry/{{ entry_id }}" method="post">
                <div class="form-group">
                    <label for="content">Edit entry:</label>
                    <textarea class="form-control" name="content" rows="5" cols="50"
                        required>{{ entry_content }}</textarea>
                </div>
                <br>
                <div class="form-group">
                    <label for="tags">Tags (separated by spaces):</label>
                    <input type="text" class="form-control" name="tags" id="tags" value="{{ entry_tags }}">
                </div>
                <br>
                <div class="form-group">
                    <label for="learning_journey_id">Select a learning journey:</label>
                    <select class="form-control" name="learning_journey_id">
                        <option value="">No learning journey</option>
                        {% for journey in learning_journeys %}
                        <option value="{{ journey.id }}" {% if journey.id==entry.learning_journey_id %}selected{% endif
                            %}>
                            {{ journey.title }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="new_journey_title" id="new_journey_title"
                        placeholder="..or begin a new journey">
                </div>
                <br>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="new_breakthrough" id="new_breakthrough" {% if
                        entry_breakthrough %}checked{% endif %} value="1">
                    <label class="form-check-label" for="new_breakthrough">Breakthrough?</label>
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="Save changes">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            <a class="btn btn-secondary mt-2" href="/">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}