Total entries: {{ count }}
<hr>
{% for message in messages %}
<i>Entry:</i> {{ message[0] }}
{% if message[3] %}
<p><i>Learning Journey:</i> {{ message[3] }}</p>
{% else %}
<br><br>
{% endif %}
<i>Time:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
{% if session.user_id %}
<a href="/edit_entry/{{ message[4] }}">Edit</a>
{% endif %}
<hr>
{% endfor %}
{% if session.user_id %}
You are logged in.
<a href="/new">New entry</a> | <a href="/logout">Log out</a>
{% else %}
<a href="/login">Log in</a>
{% endif %}