{% extends "user_base.html" %}
{% block user_content %}
Welcome!
<br>
Total entries: {{ count }}
<hr>
{% for message in messages %}
<i>Entry:</i> {{ message[0] }}
{% if message[3] %}
<p><i>Learning Journey:</i> {{ message[3] }}</p>
{% else %}
<br><br>
{% endif %}
<i>Time:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
{% if session.user_id %}
<a href="/edit_entry/{{ message[4] }}">Edit</a> | <a href="/delete_entry/{{ message[4] }}">Delete</a>
{% endif %}
<hr>
{% endfor %}
<a href="/new">New entry</a>
{% endblock %}