{% extends "user_base.html" %}
{% block user_content %}
<form action="/send" method="post">
Entry: <br>
<textarea name="content" rows="3" cols="40"></textarea>
<br>
Tags: <input type="text" name="tags"> <!--remember to guide the user that these are separated by space-->
<br>
<select name="learning_journey_id">
<option value="">Select a learning journey</option>
{% for journey in learning_journeys %}
<option value="{{ journey.id }}">{{ journey.title }}</option>
{% endfor %}
</select>
<br>
<input type="text" name="new_journey_title" placeholder="Create a new journey">
<br>
<input type="checkbox" name="breakthrough" value="False">
<label for="breakthrough">Breakthrough?</label>
<br>
<input type="submit" value="Send">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endblock %}